<style>
  body { font-family: Arial, sans-serif; background-color: #f2f2f2; margin: 0;
  padding: 0; } .cart-container { background-color: #fff; margin: 20px; padding:
  20px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); } h1 {
  font-size: 24px; margin-bottom: 20px; } .product-list { list-style: none;
  padding: 0; } .product-item { background-color: #fff; margin: 10px 0; padding:
  10px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 5px rgba(0,
  0, 0, 0.1); } .product-title { font-size: 18px; margin: 0; } .product-quantity
  { color: #777; margin: 5px 0; }

</style>
<div class="cart-container">
  <h1>Carrito de Compras</h1>
  <ul class="product-list">
    {{#each Productos}}
      <li class="product-item">
        <h4 class="product-title">{{this.product.title}}</h4>
        <p class="product-quantity">Cantidad: {{this.Cantidad}}</p>
      </li>
    {{/each}}
  </ul>
</div>